@charset "UTF-8";
/* Todas as demais medias */

@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
        
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: block; }
    #pc { display: none; }
    #tv { display: none}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 500px;

    }

    #phone { display: none; }
    #tablet { display: block; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: none}
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 600px;
    }

    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: block; }
    #tv { display: none}
}

@media screen and (min-width: 1300px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 800px;
    }

    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: block;}
}
