@charset "UTF-8";

/* mobile first */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1.3em;
    margin: auto;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}


html {
    height: 100vh;
}

main {    
    background-color: rgba(255, 255, 255, 0.767);    
    border-radius: 10px;
    margin: auto;
    width: 400px;
    margin-top: 20px;
}

h1 {

    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}


#phone {
    margin: auto;
}


#phone { display: block; }
#tablet { display: none; }
#print { display: none; }
#pc { display: none; }
#tv { display: none}